* {
  box-sizing: border-box;
}

header {
  width: 90%;
  margin: auto;
  text-align: center;
}

body {
  background-color: #8ecb1380;
}

main {
  display: flex;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
}

footer {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-family: "Rock Salt", cursive;
}

@media only screen and (max-width: 649px) {
  section {
    width: 50%;
  }
}

@media only screen and (min-width: 650px) and (max-width: 768px) {
  section {
    width: 33%;
  }
}

@media only screen and (min-width: 769px) {
  main {
    width: 80%;
  }
  section {
    width: 20%;
  }
}

h1 {
  font-size: 3em;
  margin-top: 20px;
  padding: 10px;
}

button {
  margin-bottom: 1%;
  padding: 5px 10px;
  background-color: #333;
  color: rgb(187, 19, 19);
  font-size: 1em;
}

select {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #301d5790;
  color: rgb(1, 9, 29);
  font-size: 1em;
}

section {
  display: inline-block;
  padding: 10px;
}

h2 {
  font-size: 1.2em;
}

img {
  width: 100%;
  float: left;
}
